#register {
    border: 2px solid skyblue;
    background-color: powderblue;
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 400px;
    /* id 속성이 register로 지정된 요소를 화면에 표시하지 않는다. */
    display: none;
}