@charset "UTF-8";

body {	
	font-family: 평창 평화체 light;
}
header {
	background-color: lightsalmon;
	margin: 10px;
	padding: 10px;
	color: white;
}

ul {
	display: flex;
}

li {
	margin: 10px;
	list-style: none;
}

main {
	display: flex;
}
section {
	width: 70%;
	background-color: lightsalmon;
	margin: 10px;
	padding: 10px;
	color: white;
}
article {
	background-color: lightskyblue;
	margin: 10px;
	padding: 10px;
}
aside {
	width: 30%;
	background-color: lightskyblue;
	margin: 10px;
	padding: 10px;	
	color: white;
}
footer {
	background-color: lightsalmon;
	margin: 10px;
	padding: 10px;
	color: white;	
}
a {
	display: block;
}